<body>
  



  <h5 id="notice"><%= notice %></h5>
  
    <h1 class="text-center my-5">Gallery App</h1>
    <% if current_user %>
      <h4 class="mb-5">Welcome <%= current_user.email.split('@')[0]%></h4>
    <% end %>
    <div class="d-flex flex-row flex-wrap justify-content-start">
      <% @imagegals.each do |imagegal| %>
        <div class="card mb-5 mr-4 shadow bg-white rounded" style="width: 15rem;">
            <%= image_tag(imagegal.image, class:'card-img-top img-fluid') if imagegal.image.attached? %>
            <div class="card-body">
                <h5 class="card-title black-color"><%= imagegal.title %></h5>
                <p class="card-text"><%= imagegal.caption %></p>
                <p class="card-text"> <b>Tags :</b> <%= imagegal.tag_list %></p>
                <p class="card-text"><b>Published On:</b> <%= imagegal.created_at.to_s.split(' ')[0] %></p>
                <p class="card-text"><b>Updated On:</b> <%= imagegal.updated_at.to_s.split(' ')[0] %></p>
                <p class="card-text"><b>Published By:</b> <%= imagegal.user.email.split('@')[0] %></p>
                
                
            </div>
        </div>  
      <% end %>
      
    </div>
    
    <div class="d-flex flex-row justify-content-center"><%= paginate @imagegals %></div>
    <div class="col-lg-12 col-md-12 col-sm-12 ">
    
      <h3 class="my-4">Recent Posts</h3>
      <div class="d-flex flex-column flex-wrap">
        <% @imagegals.order(id: :desc).limit(5).each do |imagegal| %>
          <div class="media my-3 flex-row p-3 border border-secondary">
            <%= image_tag(imagegal.image, class:'img-fluid mr-3 media-image') if imagegal.image.attached? %>
            <div class="media-body">
              <h5 class="mt-0"><%= imagegal.title %></h5>
              <%= imagegal.caption %>
              <p><i><b>Published By:</b> <%= imagegal.user.email.split('@')[0] %></i></p>
            </div>
          </div>
        <% end %>
      </div>
            
    </div>
     
  <br>
</body>



