<body>
  <h4 id="notice"><%= notice %></h4>

  <div class="container">
    <h1 class="text-center my-5">My Posts</h1>
    <% if current_user %>
      <h4 class="mb-5">Welcome <%= current_user.email.split('@')[0]%></h4>
    <% end %>
    <div class="col-lg-9 float-left">
      <div class="d-flex flex-row flex-wrap justify-content-start">
        <% @imagegals.each do |imagegal| %>
          <div class="d-flex flex-row flex-wrap justify-content-center border p-3 mb-3" style="width:800px;">
              <% (0...imagegal.images.count).each do |image|%>
                <div class="d-flex flex-column flex-wrap">
                  <%= image_tag(imagegal.images[image], class:'img-fluid mx-2 shadow p-1 mb-2 bg-white rounded',style:'width:300px') %>
                  <%= link_to 'Delete Image', delete_upload_imagegal_url(imagegal.images[image]), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger align-self-center my-3" %>
                  
                </div>
              <% end %>

              <div class="card-body text-center" style="width:800px;">
                  <h5 class="card-title"><b>Title: </b><%= imagegal.title %></h5>
                  <p class="card-text"><b>Caption: </b><%= imagegal.caption %></p>
                  <p class="card-text"> <b>Tags :</b> <%= imagegal.tag_list %></p>
                  <p class="card-text"><b>Published On:</b> <%= imagegal.created_at.to_s.split(' ')[0] %></p>
                  <p class="card-text"><b>Updated On:</b> <%= imagegal.updated_at.to_s.split(' ')[0] %></p>
                  <p class="card-text"><b>Published By:</b> <%= imagegal.user.email.split('@')[0] %></p>
                  
                  <p class="card-text d-flex justify-content-center"><%= link_to 'Edit', edit_imagegal_path(imagegal), :class => 'btn btn-warning mr-1' %>
                  <%= link_to 'Show', imagegal, :class => 'btn btn-warning mr-1' %>
                  <%= link_to 'Delete Post', imagegal, method: :delete, data: { confirm: 'Please Delete all the images first then delete the post!!' }, :class => 'btn btn-danger mr-1' %>
                  </p>
                  
              </div>
          </div>  
        <% end %>
      </div>
      
      <div class="d-flex flex-row justify-content-center"><%= paginate @imagegals %></div>
    </div>
    <div class="col-lg-3 float-right">
      <h3>Filters By Title and Caption</h3>
      <%= search_form_for @q, :class => 'p-3 border border-secondary' do |f| %>
      
        <div class="form-group">
          <%= f.label :title_or_caption_cont,"Filter by Title/Caption", :class => 'mr-2' %>
          <%= f.search_field :title_or_caption_cont, placeholder: "Search By Title", :class => 'form-control ' %>
        </div>
       
        <%= f.submit 'Search', :class => 'btn btn-info mt-2' %>
        <% end %>
      <h3 class="mt-3">Filters By Tags</h3>
      <%= form_tag tagged_path(tag: tag), :class => 'p-3 border border-secondary', :method => :get do %>
        <div class="form-group">
          <%= text_field_tag :tag ,params[:tag], placeholder: "Search for Tags", :required => 'required', :class => 'form-control' %>
        </div>
          <%= submit_tag 'Search' , :class => 'btn btn-info', :name =>nil %>
        
      <% end %>
    </div>
    
    <%# <%= ActsAsTaggableOn::Tagging.includes(:tag).where(context: 'tags').map { |tagging| { 'name' => tagging.tag.name } }.uniq %> 
    
  </div>
</body>



