<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      
      <%= link_to 'Gallery App', galleryimage_path, class:"navbar-brand" %>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          
          <li class="nav-item active">
              
              <%= link_to 'View-Records', imagegals_path, class:"nav-link" %>
          </li>
          <li class="nav-item active">
              <%= link_to 'Add New Record', new_imagegal_path, class:"nav-link" %>
          </li>
          
      
        
      </ul>
      <ul class="navbar-nav  float-right">
          <li class="nav-item">
              <%= link_to "Sign out", destroy_user_session_path, :method => :get, class:"btn btn-info"%>
          </li>
      </ul>
    </div>
  </nav>

  <p id="notice"><%= notice %></p>
  <h1 class="my-5 text-center">Displaying Image Record</h1>
  <div class="">
    <p class="white">
      <strong>Title:</strong>
      <%= @imagegal.title %>
    </p>
    <div>
      <%= link_to image_tag(@imagegal.image, style:'width:300px', class:'img-fluid'),imagegals_path %>
    </div>
    <p class="white">
      <strong>Caption:</strong>
      <%= @imagegal.caption %>
    </p>
  </div>
  <%= link_to 'Edit', edit_imagegal_path(@imagegal), :class => 'btn btn-warning'  %> |
  <%= link_to 'Back', imagegals_path, :class => 'btn btn-danger' %>
</body>