<body>
  

  <h4 id="notice"><%= notice %></h4>
  <h1 class="my-5 text-center">Displaying Image Gallery Post</h1>
   <div class="d-flex flex-row flex-wrap justify-content-center">
      
          <div class="d-flex flex-row flex-wrap justify-content-center border p-3" style="width:800px;">
              <% (0...@imagegal.images.count).each do |image|%>
                <div class="d-flex flex-row">
                  <%= image_tag(@imagegal.images[image], class:'img-fluid mx-2 shadow p-1 mb-2 bg-white rounded',style:'width:300px') %>
                </div>  
                  
              <% end %>

              <div class="card-body text-center" style="width:800px;">
                  <h5 class="card-title"><%= @imagegal.title %></h5>
                  <p class="card-text"><%= @imagegal.caption %></p>
                  <p class="card-text"> <b>Tags :</b> <%= @imagegal.tag_list %></p>
                  <p class="card-text"><b>Published On:</b> <%= @imagegal.created_at.to_s.split(' ')[0] %></p>
                  <p class="card-text"><b>Updated On:</b> <%= @imagegal.updated_at.to_s.split(' ')[0] %></p>
                  <p class="card-text"><b>Published By:</b> <%= @imagegal.user.email.split('@')[0] %></p>
                  
                  
              </div>
          </div>  
      
    </div>
  
    <% if current_user %>
      <% if current_user.id == @imagegal.user_id || current_user.admin? %>
        <div class="text-center mt-3">
          <%= link_to 'Edit', edit_imagegal_path(@imagegal), :class => 'btn btn-warning'  %> |
          <%= link_to 'Back', imagegals_path, :class => 'btn btn-danger' %>
        </div>
      <% end %>
    <% end %>
</body>