<body>
  

  <h4 id="notice"><%= notice %></h4>
  <h1 class="my-5 text-center">Displaying Image Record</h1>
  <div class="">
    <p class="white">
      <strong>Title:</strong>
      <%= @imagegal.title %>
    </p>
    <div>
      <%= link_to image_tag(@imagegal.image, style:'width:300px', class:'img-fluid'),imagegals_path %>
    </div>
    <p class="white">
      <strong>Caption:</strong>
      <%= @imagegal.caption %>
    </p>
    <p class="card-text"> <b>Tags :</b> <%= @imagegal.tag_list %></p>
  </div>
  <%= link_to 'Edit', edit_imagegal_path(@imagegal), :class => 'btn btn-warning'  %> |
  <%= link_to 'Back', imagegals_path, :class => 'btn btn-danger' %>
</body>